a{
    text-decoration : none;
}

a:hover{
    color: White;
    background-color: gold;
}

/* header */

header{
    background-image: url('img/PillarsOfCreationJWST.png');
    text-align: center;
    padding-top: 4%;
    padding-bottom: none;
}

header h1{
    margin: auto;
    font-size: 10vw;
    padding-top: 4%;
    padding-bottom: 4%;
    color: white;
}

header p{
    color: white;
    text-align: left;
    font-size: 1vw;
}

h1, h2{
    font-family: 'Montserrat', Arial;
}

/* navbar */

.nav{
    border: 5px solid;
    border-color: white;
    border-radius: 5px;
    margin: 1%;
    padding: 1%;
    font-size: 2.1vw;
    text-decoration : none;
    display : flex;
}

.nav a:hover{
    color: White;
    background-color: black;
}

/* body */
body{
    margin: auto;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 30px;
    background-color: black;
    color: white;
    margin-bottom: 10%;
}

/* All About Rockets */

.aboutRockets{
    border: 5px solid;
    border-color: white;
    border-radius: 20px;
    margin: 1%;
    padding-top: 1%;
    padding-bottom: 33%;
}

.aboutRockets p{
    margin: 1%;
    float: right;
    text-align: right;
}

.aboutRockets h2{
    margin: 1%;
    font-size: 7vw;
    padding: 1%
}

.aboutRockets img{
    margin: 1%;
    border: 2px solid;
    border-color: white;
    border-radius: 10px;
    float: right; 
}

.aboutRockets h3 ul li{
    list-style-type: none;
    text-align: left;
    padding-right: none;
    font-size: 5vw;
    margin: none;
}

.SLSDes{
    bottom: 0; 
    position: relative; 
    width: 100%;
    margin-right: 10%;
    margin-top: none;
}

/* People you should know */

.people{
    border: 5px solid;
    border-color: white;
    border-radius: 20px;
    margin: 1%;
    margin-top: 5%;
    padding-top: 1%;
    padding-bottom: none;
}

.people h2{
    margin: 1%;
    font-size: 7vw;
    padding: 1%
}

.people h4{
    margin: 1%;
    margin-top: 2%;
    font-size: 2vw;
    padding: 1%;
    margin-left: 1.4%;
}

.people a{
    margin: 1%;
    padding: 0.5%;
    border-radius: none;
}

.row{
    display : flex;
}

.column{
    border: 4px solid;
    border-color: white;
    flex : 1;
    margin: 1%;
    border-radius: 10px;
}

/* Creators */

.tim{
    border: 5px solid;
    border-color: white;
    border-radius: 20px;
    margin: 1%;
    margin-top: 5%;
    padding-top: 1%;
    padding-bottom: none;
}

.tim h2{
    margin: 1%;
    font-size: 7vw;
    padding: 1%
}

.tim h4{
    margin: 1%;
    margin-top: 2%;
    font-size: 5vw;
    padding: 1%;
    margin-left: 1.4%;
}

.tim h3{
    border: 5px solid;
    border-color: white;
    border-radius: 20px;
    margin: 1%;
    font-size: 5vw;
    padding: 1%
}

.tim h5{
    border: 5px solid;
    border-color: white;
    border-radius: 20px;
    margin: 1%;
    font-size: 2.5vw;
    padding: 1%
}

.tim img{
    border: 4px solid;
    border-color: white;
    flex : 1;
    margin: 1%;
    border-radius: 10px;
}

/* Effect */

.effects{
    border: 5px solid;
    border-color: white;
    border-radius: 20px;
    margin: 1%;
    margin-top: 5%;
    padding-top: 1%;
    padding-bottom: none;
}

.effects h2{
    margin: 1%;
    font-size: 7vw;
    padding: 1%
}

.video{
    border: 5px solid;
    border-color: white;
    border-radius: 20px;
    margin-left: 1%;
    margin-right: 8%;
    padding: 1%;
}

/* Miscellaneous */

.miscellaneous{
    border: 5px solid;
    border-color: white;
    border-radius: 20px;
    margin: 1%;
    margin-top: 5%;
    padding-top: 1%;
    padding-bottom: none;
}

.miscellaneous h2{
    margin: 1%;
    font-size: 7vw;
    padding: 1%
}

.miscellaneous h3{
    margin: 1%;
    font-size: 5vw;
    padding: 1%
}